body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #15232e;
    padding: 20px;
}

#operators {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5px;
    padding: 20px 0px 0px 5px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    padding: 10px 0px;
}

.op-button {
    font-weight: bold;
    background-color: #3A9BDC;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 8px 10px;
}

.op-button:hover {
    background-color: #0020C2;
}

button {
    font-size: medium;
}

button:hover {
    cursor: pointer;
}

#eq-btn {
    font-weight: bold;
    background-color: #FFE87C;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
}

#eq-btn:hover {
    background-color: #FBB117;
}

.screen {
    background-color: gray;
    padding: 10px 10px;
}

#clear {
    background-color: #E3B1D2;
    border-width: 1px;
    border-color: #E3B1D2;
    border-radius: 5px;
    width: 200px;
    padding: 8px 10px;
}

#clear:hover {
    background-color: #6C4675;
    border-color: #6C4675;
}